DesignPattern/.vs/
DesignPattern/Vendor/
DesignPattern/Debug/
DesignPattern/DesignPattern.sln
DesignPattern/DesignPattern/Debug/
DesignPattern/DesignPattern/DesignPattern.vcxproj
DesignPattern/DesignPattern/DesignPattern.vcxproj.filters
DesignPattern/DesignPattern/DesignPattern.vcxproj.user